body 
{
    background: url(https://i02.appmifile.com/images/2019/06/27/3dfbd421-111a-484b-a250-5521fe7e49cf.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-image 
{
    position: relative;
    display: inline-block;
}

li 
{
    background: url('https://c4.wallpaperflare.com/wallpaper/133/969/139/artwork-nature-landscape-fantasy-art-wallpaper-preview.jpg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.search_input {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,wheat,skyblue,lightpink,lightyellow);
    background-color: lightp;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-top: -8px;
}

.text {
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1px;
    margin-right: 16px;
    font-size: 18px;
    border-color: black;
}

.search_input button {
    background-color: #ebfffc;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-color: black;
}


.card {
    background-color: transparent;
    width: 600px;
    height: 500px;
    cursor: pointer;
    perspective: 1000px;
    float: left;
    margin-left: 415px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: skyblue;
    color: black;
    background: linear-gradient(135deg, black,skyblue,rgb(236,236,145),white);
}

.card-back {
    background-color: skyblue;
    transform: rotateY(180deg);
    background: linear-gradient(135deg,orange,lightyellow,white,black);
}

.humcon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: left;
    margin-left: 20px;
    margin-top: -10px;
}

.humimg {
    float: left;
    margin-left: -19px;
    margin-top: -40px;
}

.humhead {
    float: left;
    margin-top: -53px;
    margin-left: 50px;
}

.humval {
    float: left;
    margin-left: 55px;
    margin-top: -29px;
}

.wincon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

.winimg {
    float: right;
    margin-right: 120px;
    margin-top: -26px;
}

.winhead {
    float: right;
    margin-right: 50px;
    margin-top: -65px;
}

.winval {
    float: right;
    margin-right: 20px;
    margin-top: -30px;
}

.sunrisecon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.srimg {
    float: left;
    margin-left: -25px;
    margin-top: -19px;
}

.srhead {
    float: left;
    margin-top: -29px;
}

.srval {
    float: left;
    margin-left: 10px;
    margin-top: -30px;
}

.sunsetcon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: right;
    margin-right: 19px;
    margin-top: 30px;
}

.ssimg {
    float: right;
    margin-right: 99px;
    margin-top: -30px;
}

.sshead {
    float: right;
    margin-top: -70px;
}

.ssval {
    float: right;
    margin-top: -30px;
    margin-right: -9px;
}

.uvcon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 75px;
}

.uvimg {
    float: left;
    margin-left: -19px;
    margin-top: -19px;
}

.uvhead {
    float: left;
    margin-left: 50px;
    margin-top: -70px;

}

.uvval {
    float: left;
    margin-left: 70px;
    margin-top: -35px;
}

.pressurecon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: right;
    margin-right: 19px;
    margin-top: 75px;
}

.preimg {
    float: right;
    margin-right: 110px;
    margin-top: -20px;
}

.prehead {
    float: right;
    margin-top: -70px;
}

.preval {
    float: right;
    margin-top: -35px;
}

.visibilitycon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 60px;
}

.visimg {
    float: left;
    margin-left: -19px;
    margin-top: -20px;
}

.vishead {
    float: left;
    margin-left: 50px;
    margin-top: -70px;
}

.visval {
    float: left;
    margin-left: 60px;
    margin-top: -35px;
}

.feellikecon {
    width: 25%;
    height: 20px;
    max-width: 200px;
    background-color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    float: right;
    margin-right: 19px;
    margin-top: 60px;
}

.flimg {
    float: left;
    margin-left: -30px;
    margin-top: -19px;
}

.flhead {
    float: left;
    margin-top: -30px;
}

.flval {
    float: left;
    margin-top: -27px;
}

footer
{
    float: left;
    margin-right: 1000px;
    margin-top: 30px;
}